html, main, body {
	width: 100vw;
	height: 100vh;
	margin: 0;
	overflow: hidden;
	background-color: black;
	color: white;
	font-family: 'Roboto', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.hidden {
	visibility: hidden;
}

#fullscreen-popup {
	display: flex;
	position: absolute;
	width: 100%;
	height: 100%;

	background-color: black;
	
	align-items: center;
	justify-content: center;
	
	font-size: 20vmin;
	z-index: 10;
}

#main-content {
	width: 100%;
	height: 100%;
	display: flex;
}

.main-button {
	display: flex;
	width: 50%;
	height: 100%;
	justify-content: center;
	align-items: center;
	color: black;
	text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;
	font-size: 50vmin;
}

.main-button:hover {
	background-color: rgb(21, 21, 21);
}

.center-display {
	display: flex;
	flex-direction: column;

	width: 50vmin;
	height: 50vmin;
	position: absolute;
	top: 50vh;
	left: 50vw;
	border: 1px solid white;
	background: black;
	transform: translate(-50%, -50%);
	border-radius: 100%;
	justify-content: center;

	align-items: center;
}

.center-display > .main {
	font-size: 10vmin;
}

.center-display > .sub {
	font-size: 6vmin;
}